html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.suresh-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px; /* navbar height */
  z-index: 1000;
}

.content {
  flex: 1;
  padding-top: 80px; /* matches navbar height */
}
